html{
    background: linear-gradient(217deg, lightBlue, silver, wheat);
}

img{
    display: block;
    margin: auto;
}

.welcome{
    text-align: center;
}

body{
    background: linear-gradient(217deg, lightBlue, silver, wheat);
}

div{
    text-align: center;
}